@import "tailwindcss";

@theme inline {
  --bg-mint: #edfbed;
  --bg-dark: #000b09;
  --bg-light: #ffffff;

  --text-mint: #edfbed;
  --text-dark: #2b3a2a;
  --text-light: #5b6b5b;
  --text-white: #ffffff;

  --primary-forest: #2d5a27;
  --secondary-sage: #8eb69b;
  --accent-clay: #edb780;

  --font-inter: var(--font-inter);
}

/* ✅ BASE LAYER */
@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bg-mint);
    overflow-x: hidden;
    padding-bottom: env(safe-area-inset-bottom);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* ✅ COMPONENTS LAYER */
@layer components {
  .padding {
    @apply px-2 xl:px-10;
  }

  .btn {
    @apply w-fit font-medium rounded-full px-6 py-2 transition-all duration-300 ease-in-out hover:scale-105 cursor-pointer;
  }

  input,
  textarea {
    outline: none;
  }

  a:hover {
    text-decoration: none;
    color: var(--accent-clay);
  }
}

@layer utilities {
  .post-content p {
    @apply pb-4 text-lg;
  }

  .post-content a {
    @apply pb-4 text-lg italic underline;
  }

  .post-content ul {
    @apply pb-4 list-disc list-inside text-lg;
  }

  .post-content h2 {
    @apply text-3xl font-semibold py-2;
  }

  .post-content h3 {
    @apply text-2xl font-semibold py-2;
  }

  .post-content h4 {
    @apply text-xl font-semibold py-2;
  }
}
